body {
    font-family: "Times New Roman", Times, serif;
    background-color: white;
    color: black;
    margin: 0;
    padding: 0;
}

header h1 {
    text-align: center;
    color: #0000FF;
    font-family: "Times New Roman", Times, serif;
    padding: 16px 0;
    margin: 0;
}

nav {
    text-align: center;
    background-color: white;
}

.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-flex;
}

.menu li {
    position: relative;
    margin: 0 15px;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.menu li a.active,
.menu li a:hover {
    color: #0000FF;
    text-decoration: underline;
}

/* Dropdown menus */
.dropdown:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background: white;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    min-width: 220px;
    z-index: 100;
}

.submenu li a {
    display: block;
    padding: 10px;
    color: black;
}

.submenu li a:hover {
    color: #0000FF;
    text-decoration: underline;
}

/* Sections */
main {
    padding: 40px 20px;
    max-width: 900px;
    margin: auto;
}

section {
    padding: 50px 0;
    border-bottom: 1px solid #ddd;
}

section h2 {
    font-size: 12px;
    margin-bottom: 20px;
}

.project {
    margin-bottom: 30px;
}

.project h3 {
    font-size: 12px;
    margin-bottom: 5px;
}

.project p {
    margin: 5px 0;
}

.project a {
    color: #0000FF;
    text-decoration: underline;
}
